﻿@model IDEIMusic.Models.Venda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Venda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataVenda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataVenda)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VendaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
