﻿@model IDEIMusic.ViewModels.VendaIndexData

@{
    ViewBag.Title = "Vendas";
}

<h2>@ViewBag.Title</h2>

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
*@


@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
         {
             Text = "Maior ou igual",
             Value = "maiorigual",
             Selected = true
         });
    listItems.Add(new SelectListItem
         {
             Text = "Menor ou igual",
             Value = "menorigual"
         });
}

@using (Html.BeginForm())
{
    <p>
        Volume: @Html.TextBox("volumeStr")
        @Html.DropDownList("selectVolume", listItems)
        <br />
        Data de: @Html.TextBox("dataInicio") até @Html.TextBox("dataFim")
        <br />
        <input type="submit" value="Search" />
        @ViewBag.ErrorVolume
        @ViewBag.ErrorData
    </p>
}

@*using (Html.BeginForm())
{
    <p>
        Data de: @Html.TextBox("dataInicio") até @Html.TextBox("dataFim") 
        <input type="submit" value="Search" />
        @ViewBag.ErrorData
    </p>
}*@

<table>
    <tr>
        <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.VendaSortParm, sortOrderDiscos = ViewBag.CurrentDiscosOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        <th>@Html.ActionLink("Loja", "Index", new { sortOrder = ViewBag.LojaSortParm, sortOrderDiscos = ViewBag.CurrentDiscosOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        <th>@Html.ActionLink("Data da venda", "Index", new { sortOrder = ViewBag.DataSortParm, sortOrderDiscos = ViewBag.CurrentDiscosOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        <th></th>
        <th>@Html.ActionLink("Total discos", "Index", new { sortOrder = ViewBag.TotalDiscosSortParm, sortOrderDiscos = ViewBag.CurrentDiscosOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        <th></th>
        <th>@Html.ActionLink("Custo total", "Index", new { sortOrder = ViewBag.CustoTotalSortParm, sortOrderDiscos = ViewBag.CurrentDiscosOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        <th></th>
    </tr>

@foreach (var item in Model.Vendas) {
    string selectedRow = ""; 
        if (item.VendaID == ViewBag.VendaID) 
        { 
            selectedRow = "selectedrow"; 
        } 
    <tr class="@selectedRow" valign="top">
        <td>
            @item.VendaID
        </td>
        <td>
            @item.UserProfile.UserName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVenda)
        </td>
        <td></td>
        <td>
            @item.TotalDiscos
        </td>
        <td></td>
        <td>
            @(item.CustoTotal + " €")
        </td>
        <td>
            @Html.ActionLink("Mostrar", "Index", new { id = item.VendaID, sortOrder = ViewBag.CurrentOrder, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })
            @*               
            @Html.ActionLink("Edit", "Edit", new { id=item.VendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendaID })
            *@
        </td>
    </tr>
}

</table>

@if (Model.Discos != null)
{
    <h3>Lista de discos na venda @ViewBag.VendaID</h3>
    <table>
        <tr>
            <th>@Html.ActionLink("Título", "Index", new { sortOrder = ViewBag.CurrentOrder, sortOrderDiscos = ViewBag.TituloSortParm, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
            <th>@Html.ActionLink("Artista", "Index", new { sortOrder = ViewBag.CurrentOrder, sortOrderDiscos = ViewBag.ArtistaSortParm, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
            <th>@Html.ActionLink("Quantidade", "Index", new { sortOrder = ViewBag.CurrentOrder, sortOrderDiscos = ViewBag.QuantidadeSortParm, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
            <th></th>
            <th>@Html.ActionLink("Custo total por disco", "Index", new { sortOrder = ViewBag.CurrentOrder, sortOrderDiscos = ViewBag.CustoTotalPorDiscoSortParm, volumeStr = ViewBag.Volume, selectVolume = ViewBag.SelectVolume, dataInicio = ViewBag.DataInicio, dataFim = ViewBag.DataFim })</th>
        </tr>

        @foreach (var item in Model.Discos)
        {
            <tr>
                <td>
                    @item.Disco.Titulo
                </td>
                <td>
                    @item.Disco.Artista
                </td>
                <td>
                    @item.Quantidade
                </td>
                <td></td>
                <td>
                    @(item.TotalPorDisco + " €")
                </td>
            </tr>
        }
    </table>
}
