﻿@model IDEIMusic.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAPIKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAPIKey)
    </div>
</fieldset>
<p>
    @*@@Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
