body {	font-family: Helvetica;}

td{vertical-align:top;padding: 5;}

.popup {	position: absolute;
		display:none;
		visibility: hidden;
		border:1px solid #000;
		padding:5px;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 2px;}

.imgToolTip{width:200px;
			height:auto;}
			
.titulosToolTip{color: #144290;
				font-size:10px;
				font-weight: bold;
				margin-bottom: -19;}

.tableTracks{border-collapse:collapse;}

.tableRowTracks{ border-bottom:1px solid #000;}

.linkTableTrakcs{text-decoration: none;}

.divEventsInitial {	display:block;
					visibility: visible;}
		
.divEventsOthers {	display:none;
					visibility: hidden;}
					
.tableEvents{ border-collapse:collapse;}

.tableRowEvents{ border-bottom:1px solid #000;}

.tableTdNameEvents{ max-width: 260px;
					min-width: 260px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-style: italic;
					padding: 5;}

.tableTdDateEvents{ font-size:13px;
					padding: 5;}

#map-canvas {height: 400px;
			width: 434px;
			margin: 0px;
			padding: 0px;
			margin-top: 25px;}
			
.linkTabs{	text-decoration: none;
			color: black;
			margin-top: 25px;
			margin-bottom: 25px;}
			
.tdActive{border-bottom:2px solid #144290;}

.tdInactive{ }

.tableTabs{	border-collapse:separate; 
			border-spacing: 20px;}

.lbTitulos{	border: 0px solid #000000;
			background-color:transparent;
			color: #144290;
			font-size:10px;
			font-weight: bold;
			text-align: left;}
			
.rodapeAutores{ position: fixed;
				bottom: 0;
				width:95%;
				text-align: right;
				font-size:10px;}